@import 'bootstrap/dist/css/bootstrap.min.css';

.job2you-logo {
	display: block;
	width: 11rem;
	height: 2.75rem;
	object-fit: cover;
	object-position: center 46%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
